.creation-card {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 8rem;
  cursor: pointer;
  & .title {
    color: var(--white);
    transition: color 250ms ease-in 100ms;
  }
  &:hover .title {
    color: var(--black);
  }
  &::before {
    content: "";
    position: absolute;
    background: white;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0%);
    transform-origin: center center;
    transition: transform 250ms ease-out 0ms;
    opacity: 0.5;
  }
  &:hover::before {
    transform: scaleX(100%);
  }
}
.link {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
.img-wrapper {
  &:hover {
    position: relative;
    width: 100%;
    min-height: 100%;
  }
}
.img {
  width: 100%;
}
.title {
  position: absolute;
  z-index: 1;
  left: 0.25em;
  bottom: 0.25em;
  z-index: 2;
  color: var(--white);
}
