.creation-card {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 8rem;
  cursor: pointer;

  &:hover {
    filter: brightness(150%);
    .title {
      color: var(--white);
    }
  }
}
.link {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
.img-wrapper {
  &:hover {
    position: relative;
    width: 100%;
    min-height: 100%;
  }
}
.img {
  width: 100%;
}
.title {
  position: absolute;
  z-index: 1;
  left: 0.25em;
  bottom: 0.25em;
  z-index: 2;
  color: var(--white);
}
