@keyframes addBackground {
  0% {
    background: transparent;
  }
  100% {
    background: black;
  }
}
@keyframes removeBackground {
  0% {
    background: black;
  }
  100% {
    background: transparent;
  }
}
.contrast-from-bg {
  animation-name: addBackground;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
.navigation-bar-remove-bg {
  animation-name: removeBackground;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.bar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1001;
  padding: 1em;

  .list {
    display: none;
  }
}

@keyframes openMobile {
  0% {
    clip-path: circle(0% at 0% 0%);
  }
  100% {
    clip-path: circle(100% at 50% 50%);
  }
}
@keyframes closeMobile {
  0% {
    clip-path: circle(100% at 50% 50%);
  }
  100% {
    clip-path: circle(0% at 0% 0%);
  }
}
@mixin mobile-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  background: var(--black);
}
.mobile-nav-active {
  @include mobile-nav;
  animation-name: openMobile;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
.mobile-nav-inactive {
  @include mobile-nav;
  animation-name: closeMobile;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.mobile-list {
  list-style-type: none;
  color: var(--white);
  font-size: 2rem;
  margin: 0;
  padding: 0;
  padding-left: 0.5em;
}
.mobile-item {
  &:hover {
    color: var(--black);
    background: var(--white);
    &::marker {
      content: "|";
      color: hsl(221, 100%, 50%);
    }
  }
}
.mobile-link {
  display: inline-block;
  width: 100%;
  padding: 0.25em 0;
}
@media screen and (min-width: 550px) {
  .mobile-nav,
  .mobile-nav-active,
  .hamburger,
  .close-icon {
    display: none;
  }
  .bar-content {
    .list {
      display: flex;
      justify-content: space-between;
      margin-left: auto;
      list-style-type: none;
      color: var(--white);
    }
    .item:hover {
      text-decoration: underline;
    }
    .item-link {
      display: inline-block;
      padding: 0.5em;
    }
  }
}
