*,
*::before,
*::after {
  box-sizing: border-box;
}
* + * {
  margin: 0;
}
:root {
  --mobile: 375px;
  --desktop: 1440px;
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}
h1 {
  font-size: 2.4rem;
}
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}
p {
  line-height: 1.5;
}
section {
  padding: 4rem 3vw 0 3vw;
}
a {
  color: inherit;
  text-decoration: none;
}
svg,
img {
  display: inline-block;
}
ul,
ol {
  padding: 0;
}
.hide {
  display: none;
}
